# B202280_Assessment  
**Author details:** *Author:* B202280.   
**Notebook and data info:** This Notebook provides an example of using interactive jupyter-widgets and to collect the NHS England accident and emergency attendances(ae_attendances) data (my test data) and saving to my working ‘Data’ folder, and finally saving all the captured test data to my 'RawData'.  
**Data:** Data consists of date, numerical data from NHSRdatasets package.  
**Copyright statement:** This Notebook is the product of The University of Edinburgh.  




### The *pandas* package
To import the data, I will load the *pandas* package. The Python *pandas* package is used for data manipulation and analysis.

In [1]:
#Load the 'pandas' package
import pandas as pd
testData=pd.read_csv("../Data/ae_attendances_test.csv")
testData

    index      period  attendances
0    1155  2016-12-01          200
1    2059  2016-10-01         6452
2    3468  2016-05-01          417
3    4153  2018-03-01         9376
4    4820  2018-02-01          245
5    7243  2017-07-01         5170
6    8057  2017-04-01        15957
7    8957  2019-02-01         7258
8   10214  2018-10-01         3197
9   10328  2018-10-01         2033
10  11767  2018-06-01          336

#### Data type
I will now check the data type in the testData data frame. I will use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [2]:
result = testData.dtypes
print("Output:")
print(result)

Output:
index           int64
period         object
attendances     int64
dtype: object

Now I will collect the first row of data from the test data, 
using the `df.head()` function to see the first row in the data frame(df).

In [3]:
testData.head(n=2)

   index      period  attendances
0   1155  2016-12-01          200
1   2059  2016-10-01         6452

We need to set up an empty data frame in the working data folder to collect the data captured by the Juypter widgets.

In [4]:
dfTofill = pd.DataFrame({'index': [0],# Integer
                   'period': [pd.Timestamp('20000101')], # Date
                   'attendances': [0], # Integer
                   'consent': [False]}) # Boolean 

dfTofill

   index     period  attendances  consent
0      0 2000-01-01            0    False

Save the empty data frame to your working 'Data' folder:

In [5]:
#dfTofill.to_csv('../Data/CollectedData.csv', index=False)

The empty data frame is now saved to the working 'Data' folder. Now make sure to comment out the last cell (Ctrl+/), as you only need to do this once. Now let's read in the empty data frame to collect the data from the Jupyter-widgets.

In [6]:
CollectData=pd.read_csv("../Data/CollectedData.csv")
CollectData

    index      period  attendances  consent
0    1155  2016-12-01          200     True
1    2059  2016-10-01         6452     True
2    3468  2016-05-01          417     True
3    4153  2018-03-01         9376     True
4    4820  2018-02-01          245     True
5    7243  2017-07-01         5170     True
6    8057  2017-04-01        15957     True
7    8957  2019-02-01         7258     True
8   10328  2018-10-01         2033     True
9   10214  2018-10-01         3197     True
10  11767  2018-06-01          336     True

Now let us collect the first row of data from the test data. 
Use the `df.head()` function to see the first row in the data frame(df).

##### The `head()` function
The `head()` function lets you look at the top n rows of a data frame. By default, it shows the first five rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [7]:
testData.head(n=2)

   index      period  attendances
0   1155  2016-12-01          200
1   2059  2016-10-01         6452

# Index variable 
The first variable contains the index number, that allows us to connect the test data to the orginal data set "../RawData/ae_attendances.csv". I will have to use indexing to to add the index number to the 'dfTofill' file

In [8]:
index_number=11767 #Remember to change for each record.
dfTofill.iloc[0,0]=index_number
dfTofill

   index     period  attendances  consent
0  11767 2000-01-01            0    False

In [9]:
#Load the 'ipywidgets' package
import ipywidgets as widgets

### `display()`

The *IPython.display* package is used to display different objects in Jupyter. 
I can also explicitly display a widget using the `display()` function from the *IPython.display* package

In [10]:
#Load the 'IPython.display' package
from IPython.display import display

# Consent
Consent is a vital area for data protection compliance. Consent means giving data subjects genuine choice and control over how you process their data. If the data subject has no real choice, consent is not freely given, and it will be invalid. The [General Data Protection Regulation](https://eu01.alma.exlibrisgroup.com/leganto/public/44UOE_INST/citation/37632538310002466?auth=SAML) sets a high standard for consent and contains significantly more detail than previous data protection legislation. Consent is defined in Article 4 as: “Consent of the data subject means any freely given, specific informed and unambiguous indication of the data subject’s wishes by which he or she, by a statement or by a clear affirmative action, signifies agreement to the processing of personal data relating to him or her”.

Before we collect any data, we need to get consent from the end-user to process and share the data we will collect with the data capture tool.

## Boolean widgets
Boolean widgets are designed to display a boolean value.

### Checkbox widget

In [11]:
a = widgets.Checkbox(
    value=False,
    description='I consent for the data I have provided to be processed and shared in accordance with data protection regulations with the purpose of improving care service provision across the UK.',
    disabled=False
)

In [12]:
display(a)

Checkbox(value=False, description='I consent for the data I have provided to be processed and shared in accord…

In [13]:
dfTofill.iloc[0,3]=a.value
dfTofill

   index     period  attendances  consent
0  11767 2000-01-01            0    False

# The period variable  
The period variable includes the month this activity relates to, stored as a date (1st of each month).  

#### Data type
I now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

In [14]:
print(result[1])
#String data type

object

The data type object is a string.

##### The `head()` function
The `head()` function lets me look at the top n rows of a data frame. By default, it shows the first five rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [15]:
testData.head(n=2)

   index      period  attendances
0   1155  2016-12-01          200
1   2059  2016-10-01         6452

### DatePicker widget 
I next need to set up a DatePicker widget to collect the period data.

In [16]:
b = widgets.DatePicker(
    description='Period',
    disabled=False
)
display(b)

DatePicker(value=None, description='Period')

In [17]:
dfTofill.iloc[0,1]=b.value
dfTofill

   index period  attendances  consent
0  11767    NaT            0    False

# The attendances variable
The attendances variable includes the number of attendances for this department type at this organisation for this month.

#### Data type
We now need to check the data type in the testData data frame. Let us use the `dtypes` function from the Python *pandas* package to query the data types in the testData. The `dtypes` function returns the data types in the data frame.

##### The `head()` function
The `head()` function lets you look at the top n rows of a data frame. By default, it shows the first five rows in a data frame. We can specify the number of rows we want to see in a data frame with the argument “n”. For example, look at the first row (n=1) of the test data:

In [18]:
testData.head(n=2)

   index      period  attendances
0   1155  2016-12-01          200
1   2059  2016-10-01         6452

## Numeric widgets
There are many widgets distributed with ipywidgets that are designed to display numeric values. Widgets exist for displaying integers and floats, both bounded and unbounded. The integer widgets share a similar naming scheme to their floating point counterparts. By replacing Float with Int in the widget name, you can find the Integer equivalent.

### IntText

In [19]:
c=widgets.IntText(
    value=0,
    description='Attendances:',
    disabled=False)
display(c)

IntText(value=0, description='Attendances:')

In [20]:
dfTofill.iloc[0,2]=c.value
dfTofill

   index period  attendances  consent
0  11767    NaT            0    False

# Concatenating the collected data to the CollectData data frame.   
Let us use the `concat()` function from the Python *pandas* package to append the CollectData and dfTofill data frames. The concat() function is used to concatenate *pandas* objects.

In [21]:
# CollectData is the first data frame
# dfTofill is the second data frame
CollectData  = pd.concat([CollectData, dfTofill])
display(CollectData)

    index      period  attendances  consent
0    1155  2016-12-01          200     True
1    2059  2016-10-01         6452     True
2    3468  2016-05-01          417     True
3    4153  2018-03-01         9376     True
4    4820  2018-02-01          245     True
5    7243  2017-07-01         5170     True
6    8057  2017-04-01        15957     True
7    8957  2019-02-01         7258     True
8   10328  2018-10-01         2033     True
9   10214  2018-10-01         3197     True
10  11767  2018-06-01          336     True
0   11767         NaN            0    False

## Have you consent to process and share the data before you save it to the working data folder?

Before I save our data to file, I must make sure we have consent to do so. The following line of code, will ensure that I have consent to save data.

In [22]:
CollectData=CollectData[CollectData['consent'] == True]
display(CollectData)

    index      period  attendances  consent
0    1155  2016-12-01          200     True
1    2059  2016-10-01         6452     True
2    3468  2016-05-01          417     True
3    4153  2018-03-01         9376     True
4    4820  2018-02-01          245     True
5    7243  2017-07-01         5170     True
6    8057  2017-04-01        15957     True
7    8957  2019-02-01         7258     True
8   10328  2018-10-01         2033     True
9   10214  2018-10-01         3197     True
10  11767  2018-06-01          336     True

### Saving the CollectData data frame
Saving the data collected by your data-capture tool to the working data folder:

In [23]:
CollectData.to_csv('../Data/CollectedData.csv', index=False)

That is the CollectData data frame saved to the working 'Data' folder. You need to iterate through this Notebook until you have collected all of your test data and then save the captured test data to your 'RawData' folder.

In [24]:
#CollectData.to_csv('../RawData/CollectedDataFinal.csv', index=False)

That is the final CollectData data frame saved to the 'RawData' folder. 

I hope these examples help you to improve your Python programming skills. Happy Coding!

That is the final CollectData data frame saved to the 'RawData' folder. 

<br>
<br>
<br>
<br>

# The user interface for your data collection tool 

In this section you will provide a little backgrown for your end user, why your need ther data, and what you are going to do with it.

## The Flexbox layout


The Box widget enables rich reactive layouts in the Jupyter notebook. It aims at providing an efficient way to lay out, align and distribute space among your widgets in a box. The HBox (Horisontal layout) and VBox (vericallayout) classes above are special cases of the Box widget.

Again, the whole flexbox spec is exposed via the layout attribute of the container widget (Box) and the contained items. One may share the same layout attribute among all the contained items.

flex-flow is a shorthand for the flex-direction 
flex defines the ability for a flex item to grow or shrnk if necessary to fill the space. 


### Create reactive form for end-user
Lets uste the VBox widget to a reactive form for our enduser.
The form itself, and each row in the form is a Box widget.

In [27]:
form=widgets.VBox([a,b,c])

# Analysis of a+e attendances over different time periods.  




Analysing flutuations and trends in a+e attendances over different time periods can reveal valuable insights that can help with service provision planning. Comparing these data with concurrent GP surgery opening times can help to make a strong case for increased funding for primary care services. 


Adequate workforce planning in Primary Care and in a+e departments can help to improve patient satisfaction and also help to reduce workloadstress and burnout amongst medical professional. We need your monthly data on the number of attendances over time to make a plan available to me and other service managers. We would be very grateful if you could could take one minute each month to share your data with us in the form below:

In [28]:
display(form)

VBox(children=(Checkbox(value=False, description='I consent for the data I have provided to be processed and s…

Thank you for sharing your data, and giving us your consent to process and share it with other service management teams across England. We will add your data to our [open data resource](https://github.com/B111333/B111333WorkingWithDataTypesAndStructuresInPythonandR_Assessment) for you to use now or in the futures to assist with data workforce planning.